h1 {
    background-color: cyan;
}

.frame {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.container {
    width: max-content;
    display: flex;
    margin-left: 0px;
}

img {
    width: 200px;
}