h1 {
    background-color: cyan;
}

.image-carousel-frame {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.image-carousel-container {
    width: max-content;
    display: flex;
    margin-left: 0px;
}

img {
    width: 200px;
}

.image-carousel-circle {
    height: 15px;
    width: 15px;
    background-color: lightgray;
    border-radius: 50%;
    margin: 5px;
    display: inline-block;
}

.image-carousel-circle-selected {
    background-color: gray;
}